<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aulas"
        tools:targetApi="31">

        <!-- Login como tela inicial -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListAlunosActivity" android:exported="true"/>

        <activity android:name=".activities.RecuperarSenhaActivity" />

        <!-- Dashboards -->
        <activity android:name=".activities.AlunoDashboardActivity" android:exported="true"/>
        <activity android:name=".activities.ProfessorDashboardActivity" android:exported="true"/>
        <activity android:name=".activities.RegisterActivity" android:exported="true"/>

        <!-- Professor -->
        <activity android:name=".activities.EditAlunoActivity" android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.AtribuirAulaActivity" android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.CriarTarefaActivity" android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.AprovarTarefaActivity" android:exported="true"
            tools:ignore="Instantiatable" />


        <activity
            android:name=".activities.RegisterAlunoActivity"
            android:exported="true"
            android:label="Registrar Aluno" />

        <!-- Aluno -->
        <activity android:name=".activities.VerAulasAlunoActivity" android:exported="true"
            tools:ignore="Instantiatable" />

    </application>
</manifest>
